<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <link rel="stylesheet" href="/hotelHome/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/hotelHome/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/hotelHome/assets/css/Animation-Cards-1.css">
    <link rel="stylesheet" href="/hotelHome/assets/css/Animation-Cards.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.2.0/aos.css">
    <link rel="stylesheet" href="/hotelHome/assets/css/Sidebar-Menu-1.css">
    <link rel="stylesheet" href="/hotelHome/assets/css/Sidebar-Menu.css">
    <link rel="stylesheet" href="/hotelHome/assets/css/styles.css">
</head>

{{#if hotel}}
    <div id="wrapper">
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li align="center"><img height="50px" width="50px" class="rounded-circle profile-pic mt-5" src="/hotel-images/{{hotel._id}}.jpg" ">
          <a href="#">User:
            {{#if hotel}}
            {{hotel.hotelname}}
            {{else}}
            Account
            {{/if}}</a>
          </li>
                <li class="sidebar-brand"> <a href="/hotel">Home </a></li>
                <li> <a href="/hotel/view-profile">Profile </a></li>
                <li> <a href="/hotel/rooms">Rooms </a></li>
                <li> <a href="#">Customer </a>
                <li> <a href="#">Fetures</a></li>
                <li><a href="/hotel/logout">LogOut</a></li>
               
          
          
            </ul>
        </div>
        <div class="page-content-wrapper">
            <div class="container-fluid"><a class="btn btn-link" role="button" id="menu-toggle" href="#menu-toggle"><i
                        class="fa fa-bars"></i></a>
                        </div>
                        {{/if}}
                        