<section>
    <div class="container mt-5">
        <form action="" id="checkout-form" >
            <div class="row">
                <div class="col-md-6">

                    <h2 class="">Enter Delivery Details</h2><br>
                    <div>
                        <label for="">Address</label>
                        <input type="text" class="form-control" name="address" id="address">
                        <label for="">PinCode</label>
                        <input type="text" class="form-control" name="pincode" placeholder="" id="pincode">
                        <label for="">Mobile</label>
                        <input type="text" class="form-control" name="mobile" placeholder="" id="mobile">
                        <input type="text" name="userid" id="userid" value="{{user._id}}" hidden>
                        <input type="text" name="id" id="userid" value="{{bookingid}}" hidden>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="container mt-5 ml-6 checkout">

                       <h5> Total amount:Rs:{{Amount}}</h5>
                        <hr>

                        <div class="payment">
                            <p>Payment Methord</p>
                            <label class="radio-inLine">
                                <input type="radio" name="payment-method" value="COD" checked>Pay On Hotel
                            </label><br>
                            <input type="radio" name="payment-method"  value="Online Payment"checked>online payment
                            </label><br><br>
                            <button type="submit" class="btn btn-primary float-right">Checkout</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
<script>
    $("#checkout-form").submit((e) => {
        e.preventDefault()
        $.ajax({
            url: '/make-payment',
            method: 'post',
            data: $('#checkout-form').serialize(),
            success: (response) => {
                alert(response)
                if (response.codSuccess) {
                    location.href = '/view-booking'
                } else {
                    razorpayPayment(response)
                }
            }
            })
        })
        function razorpayPayment(booking){
            var options = {
                "key": "rzp_test_kjyHA20dKI0lVy", // Enter the Key ID generated from the Dashboard
                "amount": booking.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
                "currency": "INR",
                "name": "Shopper",
                "description": "Test Transaction",
                "image": "https://example.com/your_logo",
                "order_id": booking.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
                "handler": function (response) {
                    alert(response.razorpay_payment_id);
                    alert(response.razorpay_order_id);
                    alert(response.razorpay_signature)
                    verifyPayment(response,booking)
                },
                "prefill": {
                    "name": "Shopper",
                    "email": "shopper@example.com",
                    "contact": "9645732562"
                },
                "notes": {
                    "address": "Razorpay Corporate Office"
                },
                "theme": {
                    "color": "#3399cc"
                }
            }; 
            var rzp1 = new Razorpay(options);
            rzp1.open();
    }
    function verifyPayment(payment,booking){
        $.ajax({
            url:'/verify-payment',
            data:{
                payment,
                booking ,
                success:(response)=>{
                    alert(response)
                }

            },
            method:'post'
        })
    }

</script>