<section>
  <div class="row">
    <div class="col-md-12">
      <div>
        <h1>Hotel Home</h1>
      </div>
      <p></p>
    </div>
  </div>
  </div>
  </div>
  </div>
  {{!-- <div style="margin-left:25%;padding:1px 16px;height:1000px;margin-top: 50px;"> --}}

    <div class="container mt-2">
      <div class="row">
        <div class="col-md-3 p-3">
          <div class="row">
            <div class="card" style="width: 15rem; height:auto">
              <img class="card-img-top" src="/images/image.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Total Hotels</h5>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 p-3">
          <div class="row">
            <div class="card" style="width: 15rem; height:auto">
              <img class="card-img-top" src="/images/image1.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Total Users</h5>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 p-3">
          <div class="row">
            <div class="card" style="width: 15rem; height:auto">
              <img class="card-img-top" src="/images/image3.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Total Bookings</h5>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 p-3">
          <div class="row">
            <div class="card" style="width: 15rem; height:auto">
              <img class="card-img-top" src="/images/image2.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Most booked Hotels</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="/hotelHome/assets/js/jquery.min.js"></script>
  <script src="/hotelHome/assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="/hotelHome/assets/js/bs-init.js"></script>
  <script src="/hotelHome/https://cdnjs.cloudflare.com/ajax/libs/aos/2.2.0/aos.js"></script>
  <script src="/hotelHome/assets/js/Sidebar-Menu.js"></script>
</section>